    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><img src="/img/canhost.png" alt="CanHost" style="max-height: 100px;"></h1>
                        <h2 class="intro-text">{{ site.description }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
