    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="/img/canhost.png" alt="CanHost" style="max-height: 100px; margin-bottom: 20px;">
                        <p class="intro-text">{{ site.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
