<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}
    <body id="page-top" style="background-color: {{ site.color.primary-dark }};">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7GZBBNW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Page Wrapper with solid background -->
    <div style="background-color: {{ site.color.primary-dark }}; min-height: 100vh;">
        <!-- Page Header -->
        <header style="padding: 40px 0 20px; text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="/"><img src="/img/canhost.png" alt="CanHost" style="max-height: 60px;"></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content -->
        <section class="content-section" style="padding: 40px 0 80px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>{{ page.title }}</h1>
                        {{ content }}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
